@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    .body{
        width: 100%;
    }

.content-header{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    /* padding: 20px 40px ; */
    /* margin: 10px; */

}    

.content-right{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 60px;
    gap: 32px;
    font-family:"DM Sans", sans-serif;

}

.content-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 40px; */

}

.logo-hostinger{
    display: flex;
    justify-content: center;
    padding: 29px 0 29px 40px;

}

.menu{
    display: flex;
    /* margin: 30px 40px; */
    padding: 20px 40px;
    gap: 32px;
    
}
.menu a{
    text-decoration: none;
    display: flex;
    margin: 5px;
    /* gap: 32px; */
    font-size: 16px;
    font-family:"DM Sans", sans-serif;
    color: black;
}

.languaje{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* width: 100vh;
    height: 30px; */
    text-decoration: none;
    color: black;

}

.idioma{
    margin-left: 7px;
}

.bandera{
    width: 30px;
    display: flex;
    /* justify-content: space-between; */
}

.access{
    border: 1.5px solid rgb(48, 28, 107) ;
    border-radius: 4px;
    color: rgb(48, 28, 107);
    text-decoration: none;
    height: 30px;
    padding: 4px 5px 6px 5px;
}

.content-hero{
    column-gap:24px ;
    /* max-width: 1208px; */
    width: 100%;
    padding: 80px;
}

.content-img{
    max-width:500px ;
    min-height:400px ;
}
.content-img img{
    position: relative;
}

.content-flex{
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0 40px 0 40px; */
    margin: 0 158px 0 158px;
    gap: 8px;
}

.content-date{
    text-align: start;   
    font-family:"DM Sans", sans-serif; 
    /* padding: 5px; */
    gap: 5px;
}


.list-date{
margin-top: 15px;
}

.list-date li{
    display: flex;
    align-items:center;
    gap: 10px;
    /* margin-bottom: 2px; */
    list-style-type: none;
    padding-left: 0;
    color: rgb(79, 56, 130);
}


.h1-and-p-date h1{
    font-size: 36px;
    color: rgb(48, 28, 107);
}


.h1-and-p-date p{
    font-size:rgb(48, 28, 107) ;
    color: 20px;
    margin-top: 8px ;
}
.porcentaje{
    color:rgb(104, 62, 230) ;
}

.li-1{
margin-bottom: 2px;
}
.li-2{
    margin-bottom: 2px;
}
.li-3{
    margin-bottom: 24px;
}

.price-date{
    color: rgb(48, 28, 107);
}
.price-date-ar{
    font-size: 20px;
}
.price{
    font-size: 48px;
}
.price-date-month{
    font-size: 20px;
    color: rgb(48, 28, 107);
}

.time-date{
    font-size: 20px;
    color: rgb(48, 28, 107);
}
.button-list{
    /* padding: 12px 12px; */
    background-color: #673DE6;
    border: none;
    border-radius:8px ;
    width: 100px;
    height: 30px;
    padding: 4px 5px 6px 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.btn{
    text-decoration: none;
}
.text{
    color: white;
}

.garantia-list{
    font-size: 14px;
}



.contenedor-general{
    display: flex;
    /* width: 100vw; */
    height: 600px;
    background-color:rgb(30, 19, 69) ;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    color: white;
    }
    

    .titulo-texto{
        display: flex;
        margin: 10px 90px 48px;
        padding: 40px 90px 0;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .titulo{
        font-size: 30px ;
        font-weight: 900;
    }

    .contenedor-de-cajas{
        display: flex;
        gap: 15px;
        flex-direction: row; 
        width: 100%;
        margin: 0 150px 0 150px;
    }

    .cajas{
        display: flex;
        height: 230px;
        flex: 1;
        /* width: 320px; */
        background-color: rgb(48, 28, 107);
        flex-direction: column;
        justify-content:right;
        padding: 25px;
        border-radius: 10px;
        gap: 20px;
        /* align-items: center; */
    }

    .titulo-texto p{
        font-size: 14px;
    }

    .subtitulo{
        font-size: 13px;
    }

    .parrafo{
        font-size: 16px;

    }

    .texto{
        text-align: justify;
        line-height: 25px;
        font-size: 16px;
    }

    .logo{
        height: 35px;
        width: 30px;
        border-radius: 4px;
        padding: 10px 7px;
        background-color: #673de6;
        display: flex;
        align-items: center;
        
    }

    .contenedor-boton{
        margin-top: 32px;
        padding: 12px 20px;
        /* border: 1px solid white; */
        border-radius: 4px;
        color: white;
        background-color: rgb(104, 62, 230);
        text-decoration: none;
    }

    .boton{
        color: white;
    }

    .contenedor-boton a{
        text-decoration: none;
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 0 0 0 20px; */
    /* padding: 30px; */
}

.footer-social{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 880px;
    margin: 10px 10px;

}

.footer-social__left{
    display: flex;
    justify-content:start;
}

.footer-social__right{
    display: flex;
    justify-content:end;
    align-items: center;
}

.icon{
        width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer-politics{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 450px;
    margin: 10px 5px 20px 10px;
}

.footer-politics__left{
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
}

.pagos{
    border: 1px solid black;
    border-radius: 4px;
}

.footer-politics__left a{
    text-decoration: none;
    color: #6760ec;
}

.footer-politics__right{
display: flex;
flex-direction: row;
margin: 0 10px 0 0 ;
font-size: 14px;
font-family:"DM Sans, sans-serif";
}

.footer-politics__right a{
    gap: 16px;
    color: rgb(91, 27, 125);
    text-decoration: none;
}

.pagos img{
    width: 40px;
    height: 30px;
    /* gap: 8px; */
}

.footer-copyright{
display: flex;
justify-content:space-between;
flex-direction: row;
margin: 10px 10px;
}

.footer-copyright__left{
font-size: 14px;
font-family:"DM Sans, sans-serif";
color: rgb(48, 28, 112);
}

.footer-copyright__right{
font-size: 14px;
font-family:"DM Sans, sans-serif";
color: rgb(48, 28, 112);
}